<div class='panel panel-success'>
    <div class='panel-heading'>
        {{pageTitle}}
        {{book.id}}
        {{book.author}}
        {{book.date}}
      {{book.sequence_i}}
      {{book.genre_s}}
      {{book.inStock}}
      {{book.price}}
      {{book.starRating}}
      {{book.pages_i}}
      <img
           [src]='book.image'
           [title]='book.title'
           [style.width.px]='imageWidth'
           [style.margin.px]='imageMargin'>

    </div>
  <div><h1>{{book.title}}</h1></div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>

</div>
