<div class='panel panel-success'>
    <div class='panel-heading'>
        {{pageTitle}}
        {{id}}
        {{author}}
        {{date}}
      {{sequence_i}}
      {{genre_s}}
      {{inStock}}
      {{price}}
      {{starRating}}
      {{pages_i}}

    </div>
  <div><h1>{{book.title}}</h1></div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>

</div>
