

<div class="container filter">
  <div class='row'>
    <div>
      <form class="col-xs-6">
        <p>Filtered by: {{listFilter}} </p>
        <input class="form-control  mr-sm-2" type="text" placeholder="Search" (input)="listFilter=$event.target.value"  >
      </form>
      <div class="col-xs-6">
        <button class="addButton btn btn-success" type="button"  data-toggle="modal" [attr.data-target]="'#addUser'">Create New Book !</button>
      </div>
      <div [attr.id]="'addUser'" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <form>
                <div class="form-group" >
                  <div class="form-group col-xs-1"
                       [class.has-success]="newBook.title&&newBook.title.length>4&&newBook.title.length<24"
                       [class.has-error]="!newBook.title||(newBook.title.length<4&&newBook.title.length>24)">
                    <label for="addTitle">Title</label>
                    <input type="text"

                           ngModel  id="addTitle" class="form-control"
                           required minlength="4" maxlength="24"
                           name="title" [(ngModel)]="newBook.title"
                           #addTitle="ngModel"
                          >
                  </div>
                  <div class="form-group col-xs-1" [class.has-success]="newBook.date" [class.has-error]="!newBook.date">
                    <label for="addauthor">Author</label>
                    <input type="text"  class="form-control" id="addauthor" ngModel  name="author" [(ngModel)]="newBook.author"
                             #addAuthor="ngModel" required />
                  </div>
                  <div class="form-group col-xs-2" [class.has-success]="newBook.date" [class.has-error]="!newBook.date">
                    <label for="addDate">Date</label>
                    <input type="date" class="form-control" id="addDate" ngModel  name="date" [(ngModel)]="newBook.date" #addDate="ngModel"  >
                  </div>
                  <div class="form-group col-xs-1 " [class.has-success]="newBook.genre_s" [class.has-error]="!newBook.genre_s">
                    <label for="addGenre" >Genre</label>
                    <input type="text" class="form-control" id="addGenre" ngModel  name="genre" [(ngModel)]="newBook.genre_s" >
                  </div>
                  <div class="form-group col-xs-1" [class.has-success]="newBook.price" [class.has-error]="!newBook.price">
                    <label for="addPrece">Price</label>
                    <input type="number" class="form-control" id="addPrece" ngModel  name="price" [(ngModel)]="newBook.price">
                  </div>
                  <div class="form-group col-xs-1" [class.has-success]="newBook.sequence_i" [class.has-error]="!newBook.sequence_i">
                    <label for="addSequence">Sequence</label>
                    <input type="text" class="form-control" id="addSequence" ngModel  name="sequence" [(ngModel)]="newBook.sequence_i">
                  </div>
                  <div class="form-group col-xs-1" [class.has-success]="newBook.pages_i" [class.has-error]="!newBook.pages_i">
                    <label for="addPage">Page</label>
                    <input type="number" class="form-control" id="addPage" ngModel  name="page" [(ngModel)]="newBook.pages_i">
                  </div>
                  <div class="col-xs-1 btn-user">
                    <button class="btn btn-success btn-sm" type="submit" (click)="createBook(newBook, $event)" data-dismiss="modal">Add Book</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class='panel'>
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf="books && books.length">
          <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Title</th>
            <th>Author</th>
            <th>Release Date</th>
            <th>InStock</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let book of books | bookFilter:listFilter'>
            <td>
              <img *ngIf='showImage'
                   [src]='book.image'
                   [title]='book.title'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td><a routerLink="{{book.id}}" routerLinkActive="active" >
              {{book.title}}
            </a></td>
            <td>{{ book.author | lowercase }}</td>
            <td>{{ book.date }}</td>
            <div *ngIf="book.inStock">
              <td><i class="glyphicon glyphicon-ok"></i></td><br>
            </div><div *ngIf="!book.inStock">
            <td><i class="glyphicon glyphicon-remove"></i></td><br>
          </div>
            <td>{{ book.price | currency:'USD':true:'1.2-2'}}</td>
            <td>




            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" [attr.data-target]="'#edit' + book.id">Edit</button>
              <div [attr.id]="'edit'+book.id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form  >
                        <div class="form-group">
                          <h2>Edit: {{book.title}} </h2>
                          <div class="form-group col-xs-3"
                               [class.has-success]="book.title&&newBook.title.length>4&&newBook.title.length<24"
                               [class.has-error]="!book.title||(newBook.title.length<4&&newBook.title.length>24)">
                             <label for="title">Title</label>
                            <input
                              ngModel type="text" id="title" class="form-control"
                                   required minlength="4" maxlength="24"
                                   name="title" [(ngModel)]="book.title"
                                   #title="ngModel" />
                            <div *ngIf="title.errors && (title.dirty || title.touched)"
                                 class="alert alert-danger">
                              <div [hidden]="!title.errors.required">
                                Title is required
                              </div>
                              <div [hidden]="!title.errors.minlength">
                                Title must be at least 4 characters long.
                              </div>
                              <div [hidden]="!title.errors.maxlength">
                                Title cannot be more than 24 characters long.
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-xs-3"
                               [class.has-success]="book.price"
                               [class.has-error]="!book.price" >
                            <!--<label for="bookPrice">Price</label>-->
                            <!--<input type="number"  [value]="book.price" class="form-control" id="bookPrice" (input)="book.price=$event.target.value">-->
                            <label for="price">Price</label>
                            <input
                              ngModel type="number" id="price" class="form-control"
                              required min="1"
                              name="price" [(ngModel)]="book.price"
                              #price="ngModel" />
                            <div *ngIf="price.errors && (price.dirty || price.touched)"
                                 class="alert alert-danger">
                              <div [hidden]="!price.errors.required">
                                Price is required
                              </div>
                              <div [hidden]="!price.errors.min">
                                Price must be, this is not free store :).
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-xs-3"
                               [class.has-success]="book.starRating&&(book.starRating>0||book.starRating<6)"
                               [class.has-error]="!book.starRating&&(book.starRating<1||book.starRating>5)">
                            <!--<label for="starRating">Stars</label>-->
                            <!--<input type="text" [value]="book.starRating" class="form-control" id="starRating"  (input)="book.starRating=$event.target.value">-->
                            <label for="stars">Stars</label>
                            <input
                              ngModel type="number" id="stars" class="form-control"
                               min="1" max="5"
                              name="stars" [(ngModel)]="book.starRating"
                              #stars="ngModel" required/>
                            <div *ngIf="book.starRating>5" class="alert alert-danger"> 5 Stars max size.</div>
                            <div *ngIf="book.starRating<1" class="alert alert-danger">Stars must be more 1.</div>
                            <div *ngIf="stars.errors && (stars.dirty || stars.touched)"
                                 class="alert alert-danger">
                              <div [hidden]="!stars.errors.required">
                                Stars is required
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-3 btn-user">
                            <button class="btn btn-success btn-sm btn-smm" type="submit" (click)="editBook(book, $event)" data-dismiss="modal">Edit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" [attr.data-target]="'#delete' + book.id">Delete</button>
              <div [attr.id]="'delete'+book.id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form onsubmit=deleteBook(book.id) >
                        <div class="form-group">
                          <h2>Delete: {{book.title}} </h2>
                            <span>"are you sure you want to delete?"</span>
                            <button class="btn btn-danger btn-sm" >Delete</button>

                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
